html {
    font-size: 16px;
}

body {
    @extend .scrollbar;
}

a {
    color: inherit;
    transition: all 0.4s ease;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 20px;
}

strong {
    color: $text-dark;
    font-weight: 700;
}

button {
    &:focus {
        outline: none;
    }
}



// Form Control
.form-control {
    &-radius {
        border-radius: 0.8rem;
    }
}

.btn {
    &-min-md {
        min-width: 200px;
    }
    &-action {
        padding: 5px;
        display: inline-block;
    }
}

.table {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border-top-color: $gray-200;
            }
        }
    }
    > thead {
        > tr {
            > th,
            > td {
                border-bottom-color: $gray-200;
            }
        }
    }

    &.table-striped {
        thead {
            tr {
                background-color: $gray-200;
            }
        }
        tbody {
            tr {
                &:nth-of-type(even) {
                    background-color: $gray-200;
                }
                &:nth-of-type(odd) {
                    background-color: transparent;
                }
            }
        }
    }
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    
}