html {
    font-size: 16px;
}

body {
    @extend .scrollbar;
}

a {
    color: inherit;
    transition: all 0.4s ease;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 20px;
}

strong {
    color: $text-dark;
    font-weight: 700;
}

button {
    &:focus {
        outline: none;
    }
}



// Form Control
.form-control {
    &-radius {
        border-radius: 0.8rem;
    }

    &-wrap {
        &.search {
            position: relative;

            &::before {
                font-family:'FontAwesome';
                content: '\f002';
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

label {
    font-size: .9em;
    text-transform: uppercase;
}


.btn {
    &-min-md {
        min-width: 200px;
    }
    &-action {
        padding: 5px;
        display: inline-block;
    }
}


// Table
.table {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: 15px 10px;
                border-top-color: $gray-200;
            }
        }
    }
    > thead {
        > tr {
            > th,
            > td {
                border-bottom-color: $gray-200;
            }
        }
    }

    &.table-striped {
        thead {
            tr {
                background-color: $gray-200;
            }
        }
        tbody {
            tr {
                &:nth-of-type(even) {
                    background-color: $gray-200;
                }
                &:nth-of-type(odd) {
                    background-color: transparent;
                }
            }
        }
    }
}


// Tabs
.nav-tabs {
    > li {
        > a {
            border-width: 0 0 3px 0;
        }

        &.active {
            > a,
            > a:hover,
            > a:focus {
                color: $primary;
                border-width: 0 0 3px 0;
                border-bottom-color: $primary;
            }
        }
    }
}

.tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
}
