.map-block {
    height: 300px;
}

.trailer-contents {
    padding-top: 30px;
    padding-bottom: 30px;
}

.trailer-block {
    label {
        text-transform: none;
        font-weight: 400;
        font-size: 1em;
    }
    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .form-control {
            width: 130px;
            font-size: .9em;

            &.lg {
                width: 260px;
            }
            &.sm {
                width: 110px;
            }
        }
    }

    &-bg {
        padding: 20px;
        background-color: $gray-200;
        border-radius: .5em;
    }
}

.list-title-masthead {
    list-style: none;
    padding-left: 0;
    width: 400px;

    > li {
        margin-left: 2px;
        margin-bottom: 10px;

        label,
        span {
            width: 50%;
            margin-left: -2px;
            display: inline-block;
        }
        label {
            text-transform: capitalize;
            font-weight: 400;
        }
    }
}