.map-block {
    height: 300px;
}

.trailer-contents {
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-link-selected {
    background-color: #2AA7ff;
    border-color: #2AA7ff;
    color: white;
}

.trailer-block {
    label {
        text-transform: none;
        font-weight: 400;
        font-size: 1em;
    }
    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .form-control {
            width: 130px;
            font-size: .85em;

            &.lg {
                width: 260px;
            }
            &.sm {
                width: 110px;
            }            
        }

        .select2-container {
            min-width: 130px;
            font-size: .85em;

            &.lg {
                min-width: 260px;
            }
            &.sm {
                min-width: 110px;
            }

            &.select2-container--default .select2-selection--single {
                padding-top: 0.475rem;
                padding-bottom: 0.475rem;
            }
        }
    }

    &-bg {
        padding: 20px;
        margin-top: -20px;
        background-color: $gray-200;
        border-radius: .5em;
    }
}

.list-title-masthead {
    list-style: none;
    padding-left: 0;
    width: 400px;

    > li {
        margin-left: 2px;
        margin-bottom: 10px;

        label,
        span {
            width: 50%;
            margin-left: -2px;
            display: inline-block;
        }
        label {
            text-transform: capitalize;
            font-weight: 400;
        }
    }
}

.trailer-doc-block {
    .doc-row {
        margin-bottom: 1rem;

        [class^="col"] {
            display: flex;
            align-items: center;

            label {
                margin-bottom: 0;
            }
        }
    }
}